body{
    font-family: 'Montserrat', sans-serif;
    background-color: #0760F5;
}

/* Home */

#header{
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    height: 11vh;
    background-color: #0760F5;
    justify-content: flex-end;
    opacity: 0.9;
    overflow: hidden;
    z-index: 100;
}

#header-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
}

.header-item{
    color: white;
    height: 20px;
    padding: 10px 10px 10px 10px;
    text-align: center; 
    align-self: center;
}

.headerLink{
    height: 20px;
    width: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    border: 1.5px solid #0760F5;
 }  

.headerLink:hover{
    background-color: #3962A8;
    border: 1.5px solid #F5E153;
    border-radius: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    
}

#content {
    position: relative;
    margin-top: 12vh;
    z-index: 50;
}

#inicio{
    background-color: #5475DE;
    height: 75vh;
    color: white;
}

#wallpaper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;;
}

#wallpapertitle{
    text-align: center;
    width: 100%;
    font-size: 30px;
}

#hugeTitle{
    font-size: 70px;
}

.icon{
    width: 250px;
}

#landingPage {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 87vh;
}

.title{
    text-align: center;
    width: 80%;
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: bolder;
    padding-bottom: 10px    ;
    border-bottom: black 1.5px solid;
}

.text{
    width: 90%;
    text-align: justify;
}

#importancia{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fed330;
    align-items: center;
    padding-top: 4%;
}

.title2{
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bolder;
    padding-bottom: 30px;
    margin-top: 30px;
}
.cards{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 100px;
}

.card{  
    width: 250px;
    height: 400px;
    background-color: white;   
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 8px 6px -6px black;
    border: 1px solid black;
}

.card:hover{  
    background-color: wheat;
    transition: 0.5s;
}

.card-img{
    width: 250px;
    height: 150px;
    margin-top: 10px;
}


.icon-card{
    width: 100%;
    height: 100%;
}

.icon-card:hover{
    transform: scale(1.1)
}

.card-title{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px
}

.card-text{
    font-size: 13px;
    text-align: justify;
    padding: 20px;
}


#elementos{
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: white;
}

.title3{
    color: white;
    font-size: 50px;    
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: bolder;
    text-align: center;
}

#elementosContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
}

.elementos-items{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}



.imgElement{
    width: 250px;
    height: 270px;
}

.elementosSubtitle{
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.elementos-text{
    text-align: justify;
    width: 80%;
    margin-top: 20px;
    padding-left: 6%;
}

#footer{
    width: auto;
    margin-top: 40px;
    height: 40px;
    background-color:#fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(max-width: 1110px){
    
#elementosContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
}

.elementos-items{
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;

}

.imgHolder{
    align-self: center;
}

.imgElement{
    align-self: center;
    width: 250px;
    height: 270px;
}


}

@media(max-width: 570px){
    #header{
        position: relative;
        height: auto;
    }

    #content {
        position: relative;
        margin-top: 0px;
    }

    #inicio{
        background-color: #5475DE;
        height: auto;
        color: white;
    }

    #title{   
        font-size: 30px;
    }
    
    #hugeTitle{
        font-size: 50px;
    }

    .box{
        width: 100%;
    }
    
    .title{
       width: 90%;
    }
    
    .text{  
        width: 90%;
    }

}

